extends layout

block content
  h1 #{title}
  #container.col
    if user
     p Bine ai venit, #{user.name}!
    else
     p Bine ai venit.
    | Pentru a putea juca acest joc trebuie mai întâi să îţi creezi un cont, apoi sa te loghezi cu datele tale.
    | Jocul constă într-o luptă 1 versus 1 cu un alt jucător. 
    br 
    |Scopul tău este să distrugi tancul oponentului.
    br
    | Pentru a controla tancul foloseşte tastele direcţionale iar pentru a trage foloseşte mouse-ul.
    br
    | Succes şi distracţie placută!
  if r
   h2 Meciuri în desfășurare
   each room, i in r
    bold ID meci: #{room.roomId} 
    br 
    |Jucători: #{room.player1} vs. #{room.player2} 
    br
  
  ul.list-group
